#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.for-container {
  height: 78vh !important;
  margin-right: 1px !important;
  margin-top: 2rem;
}

body {
  overflow-x: hidden;
}
