body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.login {
  width: 100w;
  height: 100vh;
  background-image: url(../image/234.png.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
